.maindiv-dashboard {
    width: 100vw;
   min-height: 100vh;
   max-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.subDiv-takenote1 {
   width: 50%;
    margin: auto;
   
   position: relative;
   top: 20px;
}
.subDiv-takenote2 {
   
    width: 50%;
    margin: auto;
    position: relative;
    top: 30px;
    
}

.takenote3 {
    width: 70%;
   
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    
   
    
    
}
.dashboard-header {
    width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
 
   /* header classes */
    .subBox2 {
        display: none;
    }
    .subBox1 {
       
        width: 40%;
        margin-left: 20px;
        gap: 5px;
    }
    .subBox3 {
        width: 25%;
        padding-right: 20px;
        
        gap: 5px;
    } 
    .subBox4 {
        width: 10%;
        
        
       
    }

    .mainDiv {
        width: 100%;

    }
    .MainDiv {
        width: 100%;
    }
    #btn {
        position: relative;
        top: 15px;
    }
    .main-box-note3 {
        width: 90vw;
    }
   
    
    .takenote3 {
        margin-top: 25px;
    }
   
   
}
@media screen and (min-width: 601px) and (max-width: 860px) {
    .subBox2 {
        display: none;
    }
    .subBox1 {
        width: 35%;
        
        
    }
    .subBox3 {
        width: 30%;
        
        
    }
    .subBox4 {
        width: 15%;
        
        
    }
    .mainDiv {
        width: 80%;

    }
    .main-box-note3 {
        width: 30vw;
    }
    .MainDiv {
        width: 100%
    }
    .takenote3 {
        margin-top: 25px;
    }
}
